<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <!-- очищаем содержимое в "Документ по умолчанию" -->
        <clear/>
        <!-- добавляем нужную нам страницу запуска в "Документ по умолчанию" -->
        <add value="competitionkultura.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
