/*Стили для метода ParticipantsMapPanel() класса CompetitionsForm*/
div.divMainWrap_pm {
    position: relative;
    margin: 40px 0 40px 0;padding: 0px 0 0 0;
}
div.divMainWrap_pm h2 {                  /*главный заголовок*/
    position: relative;
    padding: 8px 0 9px 20px; margin: 0 0 20px 0px;
    text-align: left;
    font-family: Georgia; font-size: 20px; font-weight: normal; color: #555555;
    -ms-text-shadow: 0px 1px 1px #999999;text-shadow: 0px 1px 1px #999999;

    background: #bfe8f9;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JmZThmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  #bfe8f9 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#bfe8f9), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(left,  #bfe8f9 0%,#ffffff 100%);
    background: -o-linear-gradient(left,  #bfe8f9 0%,#ffffff 100%);
    background: -ms-linear-gradient(left,  #bfe8f9 0%,#ffffff 100%);
    background: linear-gradient(to right,  #bfe8f9 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfe8f9', endColorstr='#ffffff',GradientType=1 );
}
span#spanNull_pm {                      /*надпись об отсутствии работ, утверждённых на голосование*/
    position: relative;display: inline-block;
    font-family: Georgia;font-size: 16px;font-weight: normal;font-style: italic;color: #555555;
    margin: 0 0 40px 0;
}

table.tbl_pm {                          /*таблица данных*/
    position: relative;
    margin: 0 auto 40px auto;
}
th.tdHead_pm {                          /*ячейка заголовка таблицы*/
    padding: 5px 20px 5px 20px;
    border:1px #999999 solid;
    background-color: #cfcfcf;

    text-align: center;vertical-align: middle;
    font-family: Serif;font-size: 18px;font-weight: bold;color: #012d58;
    -ms-text-shadow: 0px 1px 1px #ffffff;text-shadow: 0px 1px 1px #ffffff;
}
td.tdBody1_pm {                          /*ячейка с содержимым 1*/
    padding: 2px 15px 2px 15px;
    border:1px #999999 solid;
    background-color: #ffffff;

    text-align: left;vertical-align: middle;
    font-family: Serif;font-size: 16px;font-weight: normal;color: #014282;
}
td.tdBody2_pm {                          /*ячейка с содержимым 2*/
    padding: 2px 15px 2px 15px;
    border:1px #999999 solid;
    background-color: #ffffff;

    text-align: center;vertical-align: middle;
    font-family: Serif;font-size: 16px;font-weight: normal;color: #014282;
}


/*Стиль для блока, в который добавляется карта*/
div#addYandexMap {
    position: relative;
    width: 880px;height: 600px;
    margin: 30px auto 30px auto;

    -webkit-box-shadow: 2px 2px 12px 0px #666666; -webkit-box-shadow: 2px 2px 12px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 12px 0px #666666; -moz-box-shadow: 2px 2px 12px 0px rgba(0,0,0,0.5);
    -o-box-shadow: 2px 2px 12px 0px #666666; -o-box-shadow: 2px 2px 12px 0px rgba(0,0,0,0.5);
    -ms-box-shadow: 2px 2px 12px 0px #666666; -ms-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 12px 0px #666666; box-shadow: 2px 2px 12px 0px rgba(0,0,0,0.5);
}
